BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: Inline
AlignConsecutiveAssignments: true
AlignOperands: true
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Preserve
